* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/fundo.jpg');
    background-size: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.cenario {
    position: relative;
    background-image: url('../images/cenario.jpg');
    background-size: cover;
    background-position: 80%;
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 20px;
}

/* BARRA COM INFORMAÇÕES DOS PERSONAGENS */
.barra-status {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

/* PLAYER 1 */
.status-p1 {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 60% 40%;
    padding: 10px;
}

.ficha-p1 {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto;
}

.ficha-p1 img {
    max-width: 140px;
}

/* BARRA DE VIDA NOME E PLACAR PLAYER 1 */
.medidor-vidaP1 {
    grid-column: 2;
    text-align: center;
}

.medidor-vidaP1>img {
    padding: 10px;
    max-width: 90%;
}

.placar-p1 {
    font-weight: bold;
    color: rgb(212, 211, 209);
    letter-spacing: 1px;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;
    font-size: 1.1em;
    color: white;
}

#numero-vitoria-p1, #numero-vitoria-p2 {
    font-size: 1.1em;
    color: #6ac562;
}

/* MEIO */
.status-meio {
    position: relative;
    margin: auto;
    margin-top: 0;
}

.tela {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#console {
    background-color: rgba(139, 69, 19, 0.471);
    width: 60%;
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgba(46, 29, 16, 0.714);
}

.meio-texto {
    position: absolute;
    top: 57px;
    left: 29px;
    font-weight: bold;
    color: rgb(212, 211, 209);
    font-size: 1.2em;
}

/* PLAYER 2 */
.status-p2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 60% 40%;
    padding: 10px;
}

.ficha-p2 {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto;
}

.ficha-p2 img {
    max-width: 140px;
}

/* BARRA DE VIDA NOME E PLACAR PLAYER 2 */
.medidor-vidaP2 {
    grid-column: 1;
    text-align: center;
}

.medidor-vidaP2>img {
    padding: 10px;
    max-width: 90%;
}

.placar-p2 {
    font-weight: bold;
    color: rgb(212, 211, 209);
    letter-spacing: 1px;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;
    font-size: 1.1em;
    color: white;
}

/* BONECOS */
.lutadores {
    margin: auto;
    max-width: 90%;
    min-height: 60%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.lutadores div {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 0;
    min-width: 33%;
    padding-bottom: 10px;
}

/* BOTOES DE AÇÃO */
.botoes {
    position: absolute;
    top: 70%;
    width: 1200px;
    margin: auto;
    padding: 10px 0px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 35% 30% 35%;
}

.botoes-p1 {
    grid-column: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    visibility: visible;
    transform: scale(0.80);
}

#botao-atacar-p1:hover,
#botao-pocao-p1:hover,
#botao-veneno-p1:hover {
    transform: scale(1.1);
}

.botoes-p1 img:active {
    opacity: 50%;
}

.console {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.console .vez-p1 {
    grid-column: 1;
    margin: auto;
    visibility: visible;
}

.console .meio {
    visibility: visible;
    grid-column: 2;
    text-align: center;
    color: white;
    padding: 10px;
}

.console .meio p {
    font-weight: normal;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
}

.btn-reinicio {
    display: flex;
    justify-content: space-between;
}

.btn-reinicio span {
    cursor: pointer;
    font-size: 2em;
}

#reiniciar-sim:hover {
    font-size: 2.3em;
    font-weight: bold;
}

#reiniciar-sim:active {
    color: black;
}

#reiniciar-nao:hover {
    font-size: 2.3em;
    font-weight: bold;
}

#reiniciar-nao:active {
    color: black;
}

.console .vez-p2 {
    grid-column: 3;
    margin: auto;
    visibility: visible;
}

.botoes-p2 {
    grid-column: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    visibility: visible;
    transform: scale(0.80);
}

#botao-atacar-p2:hover,
#botao-pocao-p2:hover,
#botao-veneno-p2:hover {
    transform: scale(1.1);
}

.botoes-p2 img:active {
    transform: scale(1.0, 1.0);
    opacity: 50%;
}

footer {
    text-align: center;
    color: #fff;
    font-size: .7em;
}